/************************ Bootstrap ************************/

$primary: rgb(123, 68, 211);

@import "../../node_modules/bootstrap/scss/bootstrap";


/******************** Our Custom Styles ********************/
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.categories-nav {
  width: fit-content;
}


.social-icon::before {
  width: 50 !important;
}

.bi-github:has(.social-icon):before:hover {
  --bs-nav-link-hover-color: #171516;
  color: var(--bs-nav-link-hover-color);
}

// Light Theme specific styles
:root[data-bs-theme="light"] {
  --bs-btn-hover-color: #000000;

  .btn:hover {
    color: var(--bs-btn-hover-color) !important;
  }

  button#login-switch {
    @extend .btn-dark;
  }
}

// Dark Theme specific styles
:root[data-bs-theme="dark"] {
  .iti {
    --iti-border-color: #5b5b5b;
    --iti-dialcode-color: #999999;
    --iti-dropdown-bg: #0d1117;
    --iti-arrow-color: #aaaaaa;
    --iti-hover-color: #30363d;
    --iti-path-globe-1x: url("path/to/globe_light.webp");
    --iti-path-globe-2x: url("path/to/globe_light@2x.webp");
  }

  button#login-switch {
    @extend .btn-light;
  }
}

// Media Queries

@include media-breakpoint-down(lg) {
  .carousel-item {
    height: 300px;
  }

  .carousel img {
    height: 100%;
    object-fit: cover;
  }
}


// For telephone country code
.iti {
  width: 100%;
  z-index: 100;
}